<!DOCTYPE html>
<html>
  <head>
    <title>Add a reference</title>
  </head>
  <link rel="stylesheet" href="/static/main.css">
  <body>
    {% if not ref_type %}
    <header class="form-top-bar">
      <div class="form-top-bar__title">
        <h2>Select a reference type</h2>
      </div>
    </header>
    <form action="/submit" method="post" class="form-style">
      <p>
        <label
          >Type:
          <select name="type">
            <option value="book">Book</option>
            <option value="article">Article</option>
            <option value="inproceedings">Inproceedings</option>
          </select>
        </label>
      </p>
      <input type="submit" name="choose_type" value="Continue" class="btn btn--small" />
      <input type="submit" name="back_to_home" value="Back" formnovalidate class="btn btn--small" />
    </form>
    {% endif %} {% if ref_type %}

    <header class="form-top-bar">
      <div class="form-top-bar__title">
        <h2>Add {{ ref_type }} reference</h2>
      </div>
    </header>

    <form action="/submit" method="post" class="form-style">
      <input type="hidden" name="type" value="{{ ref_type }}" />

      <p>
        cite key <input type="text" name="cite_key" required pattern="\S.*" />
      </p>
      <p>
        author
        <input type="text" name="author" required pattern="\S.*" />
      </p>
      <p>title <input type="text" name="title" required pattern="\S.*" /></p>

      {% if ref_type in ["book", "inproceedings", "article"] %}
      <p>year <input type="text" name="year" required pattern="\S.*" /></p>
      {% endif %} {% if ref_type == "book" %}
      <p>
        publisher <input type="text" name="publisher" required pattern="\S.*" />
      </p>
      <p>ISBN <input type="text" name="isbn" /></p>
      {% endif %} {% if ref_type == "inproceedings" %}
      <p>
        booktitle <input type="text" name="booktitle" required pattern="\S.*" />
      </p>
      {% endif %} {% if ref_type == "article" %}
      <p>
        journal <input type="text" name="journal" required pattern="\S.*" />
      </p>
      <p>volume <input type="text" name="volume" required pattern="\S.*" /></p>
      <p>pages <input type="text" name="pages" required pattern="\S.*" /></p>
      {% endif %}

      <input type="submit" name="send" value="Add reference" class="btn btn--small" />
      <input type="submit" name="back" value="Back" formnovalidate class="btn btn--small" />
    </form>
    {% endif %}
  </body>
</html>
