<!DOCTYPE html>
<html>
  <head>
    <title>temp</title>
  </head>
  <style>
table, th, td {
  border:1px solid black;
}
</style>

  <body>
    {% for message in get_flashed_messages() %}
    <p>
      <b>{{ message }}</b>
    </p>
    {% endfor %}
    <a href="/lomake">lomake</a>
    <table style="width: 100%">
      <tr>
        <th>Type</th>
        <th>Cite key</th>
        <th>Title</th>
        <th>Author</th>
        <th>Year</th>
        <th>Publisher</th>
        <th>Journal</th>
        <th>Booktitle</th>
        <th>Volume</th>
        <th>Pages</th>
        <th>ISBN</th>
      </tr>
      {% for reference in reference %}
        <tr>
            <td>{{reference[2]}}</td>
            <td>{{reference[1]}}</td>
            <td>{{reference[3]}}</td>
            <td>{{reference[4]}}</td>
            <td>{{reference[5]}}</td>
            <td>{{reference[8]}}</td>
            <td>{{reference[7]}}</td>
            <td>{{reference[6]}}</td>
            <td>{{reference[9]}}</td>
            <td>{{reference[10]}}</td>
            <td>{{reference[11]}}</td>
            <td><a href="/remove_reference/{{ reference.id }}">Poista viite</a></td>
        {% endfor %}
      </tr>
    </table>
  </body>
</html>
