<!DOCTYPE html>
<html>
<head>
<title>Lomake ja sillee</title>
</head>

<body>
<h1>Lomake</h1>
<h3>kirja tai vastaava</h3>
<form action="/submit" method="post"
<p>cite key <input type="text" name="cite_key"></p>
<p>author <input type="text" name="author"></p>
<p>title <input type="text" name="title"></p>
<p>year <input type="text" name="year"></p>
<p>publisher <input type="text" name="publisher"></p>
<p>ISBN <input type="text" name="ISBN"></p>
<input type="submit" value="lähetä">

</form>
</body>
</html>