<!DOCTYPE html>
<html>
  <head>
    <title>Delete reference</title>
  </head>
  <link rel="stylesheet" href="/static/main.css">
  <body class="center-page">
    <header class="form-top-bar">
      <div class="form-top-bar__title">
        <h2>{{ reference.title }} –– {{ reference.author }}</h2>
      </div>
    </header>
    <p>Are you sure you want to delete this reference?</p>
    <form action="/remove_reference/{{ reference.id }}" method="post">
      <input type="submit" name="remove" value="Delete reference" class="btn btn--small" />
      <input type="submit" name="back" value="Cancel" class="btn btn--small" />
    </form>
  </body>
</html>
