<!DOCTYPE html>
<html>
  <head>
    <title>Edit reference</title>
  </head>
  <link rel="stylesheet" href="/static/main.css">
  <body class="center-page">
    <header class="form-top-bar">
      <div class="form-top-bar__title">
        <h3>Edit {{ reference.type }} reference</h3>
      </div>
    </header>

    <form action="/update_reference/{{ reference.id }}" method="post" class="form-style">
      <p>
        <label
          >Cite Key:<br />
          <input
            type="text"
            name="cite_key"
            value="{{ reference.cite_key }}"
            required
            pattern="\S.*"
          />
        </label>
      </p>

      <p>
        <label
          >Author:<br />
          <input
            type="text"
            name="author"
            value="{{ reference.author }}"
            required
            pattern="\S.*"
          />
        </label>
      </p>

      <p>
        <label
          >Title:<br />
          <input
            type="text"
            name="title"
            value="{{ reference.title }}"
            required
            pattern="\S.*"
          />
        </label>
      </p>
      <p>
        <label
          >Year:<br />
          <input
            type="text"
            name="year"
            value="{{ reference.year }}"
            required
            pattern="\S.*"
          />
        </label>
      </p>
      {% if reference.type == "book" %}
      <p>
        <label
          >Publisher:<br />
          <input
            type="text"
            name="publisher"
            value="{{ reference.publisher }} "
            required
            pattern="\S.*"
          />
        </label>
      </p>
      <p>
        <label
          >ISBN:<br />
          <input type="text" name="isbn" value="{{ reference.isbn }}" />
        </label>
      </p>
      {% endif %} {% if reference.type == "inproceedings" %}
      <p>
        <label
          >Booktitle:<br />
          <input
            type="text"
            name="booktitle"
            value="{{ reference.booktitle }}"
            required
            pattern="\S.*"
          />
        </label>
      </p>
      {% endif %} {% if reference.type == "article" %}
      <p>
        <label
          >Journal:<br />
          <input
            type="text"
            name="journal"
            value="{{ reference.journal }}"
            required
            pattern="\S.*"
          />
        </label>
      </p>
      <p>
        <label
          >Volume:<br />
          <input
            type="text"
            name="volume"
            value="{{ reference.volume }}"
            required
            pattern="\S.*"
          />
        </label>
      </p>
      <p>
        <label
          >Pages:<br />
          <input
            type="text"
            name="pages"
            value="{{ reference.pages }}"
            required
            pattern="\S.*"
          />
        </label>
      </p>
      {% endif %}

      <input type="submit" name="update" value="Update reference" class="btn btn--small" />
      <input type="submit" name="back" value="Back" class="btn btn--small" />
    </form>
  </body>
</html>
